/******** google font ********/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/******* all reset *******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******* common style *******/
body {
  font-family: "Poppins", sans-serif;
}

.text-orange {
  color: #e76f51;
}
.title-color {
  color: #000000;
}

.sub-bg {
  background: #e7f1ff;
}

.card-desc {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #6c6c6c;
}

/********* header *********/
.header-color {
  background: #264653;
}
.menu-btn {
  background: #e76f51;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.menu-btn:hover {
  color: #ffffff;
}
.hero-title {
  font-weight: 600;
  font-size: 48px;
  color: #ffffff;
}
.hero-desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
}

/******** Fetured  section ********/
.fetured-p::after {
  content: " ";
  position: absolute;
  width: 3rem;
  border-bottom: 2px solid #e76f51;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.image-filter {
  filter: grayscale(100%);
}
